.body {
	line-height: 1.7;

	@screen md {
		grid-template-columns: [bleed-start] 1fr [content-start] auto [content-end] 1fr [bleed-end];

		&>* {
			grid-template-columns: inherit;
			grid-column: content;
		}

		&>*:not([class*="grid-column:bleed"]) {
			max-width: 32rem;
		}
	}

	&> :first-child::first-letter {
		font-size: theme('fontSize.7xl');
		font-family: theme('fontFamily.serif');
		line-height: 0;
	}

	& :is(h1, h2, h3, h4, h5, h6) {
		margin-top: 1em !important;
		text-wrap: pretty;
	}

	& :is(h2, h3) a {
		display: inline-block;
		margin-left: 0.5ch;
	}

	& :is(h2, h3):not(:hover) a {
		display: none;
	}
}
